/*----Normalize CSS---*/

@import "normalize.css";

/* Base Styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222;
  font-family: "Open Sans", sans-serif;

}

.main-header {
  background-color: #eaedef;
  padding-bottom: 30px;
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

nav{
  background-color: white;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

main,
footer {
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  background-color: #eaedef;
}

/* Navigation layout */

.main-nav {
  list-style-type: none;
  font-weight: 400;
  margin: 0 auto;
  padding-left: 0;
}

.name {
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 10px;
  font-size: 1.7em;
  font-weight: 800;
}

.nav li {
  padding: 4px 0;
}

.main-nav a {
  text-decoration: none;
  padding: 10px;
  border: 2px solid transparent;
  color: #000;
  display: block;
  width: 100%;
}

/* Intro styles */

.intro {
  padding-top: 40px;
}

.intro img {
  max-width: 75%;
}

.intro p {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Portfolio Styles */

.row {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;

}

main h2 {
  margin: 50px 0;
}

.row h3 {
  color: #4f4c48;
}

.row img {
  width: 100%;
  height: auto;
}

/* Footer Styles */

.contact {
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color: #000;
}

.contact a {
  text-decoration: none;
}

.contact p {
  padding-top: 10px;
  border-bottom: 10px;
  color: #000;
  text-decoration: none;

}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-between;
}

.flex-container a {
  text-decoration: none;
}

/* .item-1 {
  margin-left: 10px;
} */

.item-2 {
  margin-right: 10px;
  order: 3;
}

.footer-nav {
  display: none;
}



/* Media Queries */

@media (min-width: 768px) {

  .main-header,
  .main-nav,
  .intro,
  .row {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }

  .intro {
    flex-direction: row-reverse;
    margin-right: 20px;

  }

  .intro p {
    font-size: 1.2em;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }

  .col {
    flex: 1 50%;
  }

  .row {
    flex-wrap: wrap;
  }
  .row img {
    width: 90%;
    height: auto;
  }

  .row p {
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
  }

  .item-2 {
    display: none;
  }

  .footer-nav {
    display: inline-flex;
    list-style-type: none;
    text-decoration: none;
  }

  .footer-nav li {
    padding-left: 5px;
    padding-right: 5px;
  }

}

@media (min-width: 1025px) {

  .main-header,
  .main-nav,
  .intro,
  .row,
  .footer {
    display: flex;
  }

  .main-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .name {
    margin: auto;
    padding-top: 20px;
  }

  .main-nav {
    margin: auto;
    padding-top: 20px;

  }

  .col {
    flex: 33%;
  }

  .intro {
    margin-right: 20px;
  }

  .intro p {
    font-size: 1.2em;
    padding-right: 30px;
    padding-left: 15px;
    text-align: center;
    width: 60%;
  }

  .row p {
    font-size: .75em;
    padding-left: 5px;
    padding-right: 5px;
  }

  .flex-container {
    justify-content: space-between;
    font-size: .8em;
  }

  .item-2 {
    display: none;
  }

  .footer-nav {
    display: inline-flex;
    list-style-type: none;
    text-decoration: none;
  }

  .footer-nav li {
    padding-left: 5px;
    padding-right: 5px;
  }
}
